body {
  font-family: "Poppins", sans-serif;
}

header {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
}

.banner {
  width: 968px;
  height: 288px;
  left: 236px;
  top: 116px;
}

.tombol {
  padding: 4px 8px;
  gap: 8px;

  width: 117px;
  height: 46px;

  background: #7126b5;
  color: white;
  border-radius: 12px;
}

.search {
  padding: 12px 24px;
  gap: 16px;

  width: 444px;
  height: 48px;
  left: 260px;
  top: 18px;

  background: #eeeeee;
  border-radius: 16px;
}

.kategori {
  padding: 4px 8px;
  gap: 8px;

  width: 117px;
  height: 46px;

  background: #e2d4f0;
  color: #3c3c3c;
  border-radius: 12px;
  cursor: pointer;
}

button.active,
.kategori:hover {
  background: #7126b5;
  color: white;
}

.owl-item.active.center .item {
  transform: scale(1.5);
}

.item {
  margin: 4rem;
}

.owl-theme .owl-dots {
  text-align: center;
  -webkit-tap-highlight-color: transparent;
  display: none;
}

.kategori {
  width: 150px;
}
.inputBasic {
  border-radius: 12px;
}
.btn-sign {
  flex-direction: row;
  align-items: center;
  padding: 6px 12px;
  gap: 4px;

  background: #7126b5;
  border-radius: 12px;
  border: 1px solid #7126b5;

  flex: none;
  order: 0;
  flex-grow: 0;
}
.btn-sign-google {
  box-sizing: border-box;
  flex-direction: row;
  align-items: center;
  padding: 6px 12px;
  gap: 4px;

  color: black;
  background: #ffffff;
  border: 1px solid #8b8b8b;
  border-radius: 12px;
}

.text {
  color: #7126b5;
}
@media (max-width: 426px) {
  .icon {
    display: none;
  }

  header {
    box-shadow: none;
  }

  .search {
    display: block;
    width: 100%;
  }
}
@media (max-width: 769px) {
  .icon {
    display: none;
  }

  .search {
    display: block;
    width: 100%;
  }

  .sign {
    padding-top: 36px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 24px;
  }
}
